
button {
    display: inline-block;
    background: chocolate;
    width: 200px;
    height: 30px;
}
a {
    text-decoration: none;
    color: gold;
}
.info {
    border-spacing: 20px;
}
.menu {
   margin: auto;
}
.under {
    position: absolute;
    bottom: 2px;
    background: linear-gradient(to left,chocolate, gold) ;
    height: 5%;
    outline: 2px solid #000;
    left: 1px;
    right: 1px;
}
.contacts_list {
    padding: 0;
    line-height: 25px;
    bottom: 40px;
    position: absolute;
    opacity: 0.6;
    background-color: rgb(243, 186, 63);
    border-radius: 20px 10px 5px 0;
}
body {
    background-image: url("1583303117_7942.jpeg");
}
 